.row.pad-top-40
  .col-sm-3
    button.btn.btn-block.btn-large Button

  .col-sm-3
    button.btn.btn-block.btn-primary.btn-large Button

  .col-sm-3
    button.btn.btn-block.btn-second.btn-large Button

  .col-sm-3
    button.btn.btn-block.btn-third.btn-large Button
= "\n"
.row.pad-top-20
  .col-sm-3
    button.btn.btn-block.btn-second.text-left
      span
        i.fa.fa-facebook
        | Facebook
  .col-sm-3
    button.btn.btn-block.text-left
      span
        i.fa.fa-facebook
        | Facebook
  .col-sm-6
    include social/nav-social-v2

= "\n"
.row.pad-top-20
  .col-sm-3
    button.btn.btn-block.btn-second.text-left
      span
        i.fa.fa-google-plus
        | Google
  .col-sm-3
    button.btn.btn-block.text-left
      span
        i.fa.fa-google-plus
        | Google
  .col-sm-6
    include social/nav-social-v3
    include social/nav-social-v4
= "\n"
.row.pad-top-20
  .col-sm-3
    button.btn.btn-block.btn-second.text-left
      span
        i.fa.fa-twitter
        | Twitter
  .col-sm-3
    button.btn.btn-block.text-left
      span
        i.fa.fa-twitter
        | Twitter
  .col-sm-6
    include social/nav-social-v1