footer.footer
  .container
    .footer-inner
      .footer-info
        .footer-phone 1900 54 54 15
        .footer-link 
          a(href="https://vpbank.com.vn" target="_blank") https://vpbank.com.vn
        .footer-address 89 Láng Hạ, Đống Đa, Hà Nội
      nav.footer-nav
        ul.nav-social
          +social-item('#', 'global', 'icon-global')
          +social-item('#', 'facebook', 'icon-facebook')
          +social-item('#', 'mail', 'icon-mail')