.container
    .row
        .col-xs-12.col-md-6
            .form-group
                input.form-control(type="text", placeholder="First Name")
        .col-xs-12.col-md-6
            .form-group
                input.form-control(type="text", placeholder="Last Name")
        .col-xs-12.col-md-6
            .form-group
                input.form-control(type="email", placeholder="E-mail")
        .col-xs-12.col-md-6
            .form-group
                input.form-control(type="text", placeholder="Subject")
        .col-xs-12
            .form-group
                textarea.form-control(placeholder="Text your message here...")
        .col-xs-12
            .text-center
                button.btn Button
.container
    .row
        .col-xs-12.col-md-6
            .row
                .col-xs-12.text-center
                    h2 Sign up
                    h4 with
                    a(href="#", title="facebook") Facebook
                    a(href="#", title="Twitter") Twitter
                .col-xs-6
                    .form-group
                        input.form-control(type="text", placeholder="Username")
                .col-xs-6
                    .form-group
                        input.form-control(type="email", placeholder="Email")
                .col-xs-6
                    .form-group
                        input.form-control(type="password", placeholder="Password")
                .col-xs-6
                    .form-group
                        input.form-control(type="password", placeholder="Confirm password")
                .col-xs-12
                    .form-group.text-center
                        input(type="checkbox" id="agree")
                        label(for="agree") I agree with terms of use and privacy
                .col-xs-12
                    .text-center
                        button.btn Sign up

        .col-xs-12.col-md-6
            .row
                .col-xs-12.text-center
                    h2 Sign up
                    h4 with
                    a(href="#", title="facebook") Facebook
                    a(href="#", title="Twitter") Twitter
                .col-xs-12
                    .form-group
                        input.form-control(type="text", placeholder="Username")
                .col-xs-12
                    .form-group
                        input.form-control(type="password", placeholder="Password")
                .col-xs-12
                    .text-center
                        button.btn Login
                .col-xs-12
                    .text-center
                        a(href="#",title="Forgot password?") Forgot password?
                        a(href="#",title="Not amember yet?") Not amember yet?
.container
    .row
        .col-md-6.text-center
            h3 Thanks for the registration!
            p Your account has been created and a verification email has been sent to your registered email address. Please click on the verification link included in the email to activate your account.
            p Having trouble accessing your account? Please contact Online Customer Support.
        .col-md-6.text-center
            h3 Reset your password
            p Enter your username, or the email address that you used to register. We’ll send you an email with your username and a link to reset your password.
            .form-group
                input(type="email", placeholder="Enter your e-mail")
            .form-group
                button.btn Reset
.container
    .row
        .col-md-6.text-center
            h3 Your password canceled!
            .form-group
                input(type="password", placeholder="New password")
            .form-group
                input(type="password", placeholder="confirm password")
            .form-group
                button.btn Change
        .col-md-6.text-center
            h3 Your password has been successfully changed!
.container
    .row
        .col-md-8.col-md-offset-2.col-xs-12
            input.input-radius(type="text", placeholder="Enter your mail")
