include mixin
header.header
  .container
    nav.nav-top
      ul.nav-main
        li
          a(href="index.html", title="VPBank SME", target="_blank")
              img(src="assets/images/logo-vpbank.png", width="316", height="62", alt="VPBank SME")
        li
          a(href="index.html", title="Amazon web service", target="_blank")
              img(src="assets/images/logo-amazon.png", width="216", height="84", alt="Amazon web service")
///.header