<!--build:js assets/js/vendor/jquery.min.js-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- endbuild -->
= "\n"
| <!--build:js assets/js/vendor/jquery.matchHeight-min.js-->
| <script src="bower_components/matchHeight/dist/jquery.matchHeight-min.js"></script>
| <!-- endbuild -->
block script
= "\n"
| <!--build:js assets/js/main.js-->
| <script src="assets/js/main.js"></script>
| <!-- endbuild -->
block tracking