.slider1-block
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="assets/images/slider/slider1.jpg",alt="bg slider" height="460", width="1920")
				.slider-flex
					.slider1-content
						h3.slider1-title Wireframe Kit
						.slider1-desc Basically, the kit consists of more than a hundred ready-to-use elements that you can combine to get the exact prototype you want.
						.slider1-button
							a.btn-block(href="#",title="Showreel") Showreel
							a.btn-block(href="#",title="Sign up") Sign up
			.swiper-slide
				img(src="assets/images/slider/slider1.jpg",alt="bg slider" height="460", width="1920")
				.slider-flex
					.slider1-content
						h3.slider1-title Wireframe Kit
						.slider1-desc Basically, the kit consists of more than a hundred ready-to-use elements that you can combine to get the exact prototype you want.
						.slider1-button
							a.btn-block(href="#",title="Showreel") Showreel
							a.btn-block(href="#",title="Sign up") Sign up