.nav-main {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;

  > li {
    position: relative;

    &:not(:first-child) {
      padding-left: 12px;
      margin-left: 12px;

      &::after {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -17px;
        content: '';
        display: block;
        width: 1px;
        height: 34px;
        background-color: #b7b7b7;
      }
    }

    &:first-child {

      img {
        width: 130px;
      }
    }

    &:last-child {
      img {
        width: 89px;
      }
    }

    > a {
      display: block;      

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include breakpoint(sm) {
  .nav-main {

    > li {
      &:first-child {

        img {
          width: 158px;
        }
      }
  
      &:last-child {
        img {
          width: 108px;
        }
      }

      &:not(:first-child) {
        padding-left: 25px;
        margin-left: 23px;

        &::after {
          margin-top: -26px;
          height: 54px;
        }
      }
    }
  }
}
